
@font-face {
font-display: swap;
font-family: 'Inter Variable';
font-style: normal;
font-weight: 100 900;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Ff11d729bb0a4d8350d2ea3d0fc062cf6ef2d5298.woff2?generation=1777998240892230&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'JetBrains Mono Variable';
font-style: normal;
font-weight: 100 800;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fe7277e714521ceb5f174cc9879b51e0f4aa69753.woff2?generation=1778063240589750&alt=media') format('woff2');
}
